= simple_form_for @stat_block, url: update_stats_character_path(@character), method: "post" do |f|
  = f.input :strength_val, label: "Strength:", as: :integer
  = f.input :dexterity_val, label: "Dexterity:", as: :integer
  = f.input :constitution_val, label: "Constitution:", as: :integer
  = f.input :wisdom_val, label: "Wisdom:", as: :integer
  = f.input :intelligence_val, label: "Intelligence:", as: :integer
  = f.input :charisma_val, label: "Charisma:", as: :integer

  = f.button :submit, "Update Character"
