= simple_form_for @skill_list, url: update_skills_character_path(@character), method: "post" do |f|
  %p Standard Skills
  - Skills::STANDARD.keys.each do |sk|
    - sk = sk.to_s
    = f.input "#{sk}_val".to_sym, label: sk.titleize, as: :integer, wrapper_html: { class: 'input-field' }

  %p Custom Skills
  - Skills::CUSTOM.keys.each do |sk|
    - sk = sk.to_s
    = f.input "#{sk}_name".to_sym, label: "#{sk.gsub('_', ' ').titleize} Name", as: :integer, wrapper_html: { class: 'input-field' }
    = f.input "#{sk}_val".to_sym, label: "#{sk.gsub('_', ' ').titleize} Value", as: :integer, wrapper_html: { class: 'input-field' }

  = f.button :submit, "Update Character"

