= form_tag update_race_character_path(@character), method: "post" do
  = label_tag :chosen_race, "Choose your Race:" 
  = select_tag(:chosen_race, options_for_select([["Human", "human"]]))

  - if @character.race.class == Human
    = label_tag :human_ability_bonus, "Choose your Human Ability Bonus Stat:"
    - dirty_array = Stats::ALL.map { |s| [s.to_s.capitalize, s] }
    = select_tag(:human_ability_bonus, options_for_select(dirty_array))
  = submit_tag "Update Character"
