Your Character!

= @character

= link_to "Edit Character Info", edit_character_general_info_path(character_id: @character)
= link_to "Edit Class", edit_character_pf_class_path(character_id: @character)
= link_to "Edit Race", edit_character_race_path(character_id: @character)
= link_to "Edit Stats", edit_character_stat_path(character_id: @character)
= link_to "Edit Skills", edit_character_skill_path(character_id: @character)
= link_to "Edit Feats", edit_character_feat_path(character_id: @character)
= link_to "Edit Items", edit_character_item_path(character_id: @character)
