- name = @character.sheet.name.present? ? @character.sheet.name : "(No Name!)"
- pf_class = @character.sheet.favored_class.present? ? @character.sheet.favored_class.class.to_s.titleize : "(No Class!)"
- race = @character.sheet.race.present? ? @character.sheet.race.class.to_s.titleize : "(No Race!)"

.character-display.row.width:85
  .avatar-photo.col.m4.s12.height:100
    test
  .basic-info.col.m8.s12.align:center
    .title.row
      %p.name.col.m6.s12= name
      %p.col.m1.s2 the
      %P.col.m2.s10= race 
      %p.col.m3.s12= pf_class
    .subtitle.row
      %p.name.col.m6.s12= "Level 1 - alignment goes here" 

  .stats.row
    .col.s12.m3
      %table.striped
        %tbody
          %tr
            %th Ability
            %th Value
            %th Modifier
          %tr#strength-stat
            %td.name Strength
            %td.value= @character.sheet.stats.strength.value
            %td.modifier= @character.sheet.stats.strength.modifier
          %tr#dexterity-stat
            %td.name Dexterity
            %td.value= @character.sheet.stats.dexterity.value
            %td.modifier= @character.sheet.stats.dexterity.modifier
          %tr#constitution-stat
            %td.name Constitution
            %td.value= @character.sheet.stats.constitution.value
            %td.modifier= @character.sheet.stats.constitution.modifier
          %tr#wisdom-stat
            %td.name Wisdom
            %td.value= @character.sheet.stats.wisdom.value
            %td.modifier= @character.sheet.stats.wisdom.modifier
          %tr#intelligence-stat
            %td.name Intelligence
            %td.value= @character.sheet.stats.intelligence.value
            %td.modifier= @character.sheet.stats.intelligence.modifier
          %tr#charisma-stat
            %td.name Charisma
            %td.value= @character.sheet.stats.charisma.value
            %td.modifier= @character.sheet.stats.charisma.modifier

  .skills.row
    .col.s12.m6
      - if @character.skill_list.present?
        %table.striped
          %tbody
            - Skills::ALL.each do |skill|
              - skill = @character.sheet.skills.send(skill)
              - if skill.point_value > 0
                %tr
                  %td= "#{skill.name.to_s.titleize}: #{skill.point_value}" 


      - else
        (No Skills!)

    .feats.row
      .col.m12
        - if @character.feat_list&.list&.count.to_i > 0 
          %table.striped
            %tbody
              - @character.feat_list.list.each do |feat|
                %tr
                  %td= "#{feat}" 
        - else
          (No Feats!)


= link_to "Edit Character Info", edit_general_info_character_path(@character), class: "waves-effect waves-light btn"
= link_to "Edit Class", edit_pf_class_character_path(@character), class: "waves-effect waves-light btn"
= link_to "Edit Race", edit_race_character_path(@character), class: "waves-effect waves-light btn"
= link_to "Edit Stats", edit_stats_character_path(@character), class: "waves-effect waves-light btn"
= link_to "Edit Skills", edit_skills_character_path(@character), class: "waves-effect waves-light btn"
= link_to "Edit Feats", edit_feats_character_path(@character), class: "waves-effect waves-light btn"
= link_to "Edit Items", edit_items_character_path(@character), class: "waves-effect waves-light btn"
